<app-header></app-header>

<app-navigation></app-navigation>

<div class="app-content">
  <div class="wrapper-sm">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- slidePanel example start-->
<!--<div class="slidePanel" [class.active]="slidePanel.active">-->
  <!--<div class="panel panel-primary" >-->
    <!--<div class="panel-heading" style="background-color: #6293bd">-->
      <!--<img width="40" class="wrapper-xs" src="img/icons/user15.png">-->
      <!--<span class="h5">test{{userData.username}}</span>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
      <!--<div class="wrapper-sm">-->
        <!--<label class="text-info pull-right">-->
         <!--test {{userData.firstname}}-->
        <!--</label>-->
        <!--<span class="h5 text-info" translate="client.FIRST_NAME"></span>-->
      <!--</div>-->

      <!--<div class="wrapper-sm">-->
        <!--<label class="text-info pull-right">-->
         <!--test {{userData.lastname}}-->
        <!--</label>-->
        <!--<span class="h5 text-info" translate="client.LAST_NAME"></span>-->
      <!--</div>-->

      <!--<button class="btn btn-primary"-->
              <!--(click)="slidePanel.active = !slidePanel.active">-->
        <!--<span translate="page.OK"></span>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--slidePanel  example end-->

<app-footer></app-footer>
