<div class="table-responsive">
  <table class="table" [ngClass]="tableStyle">
    <thead>
    <tr>
      <th width="80px"></th>
      <th [translate]="'client.FIRST_NAME'"></th>
      <th [translate]="'client.LAST_NAME'"></th>
      <th [translate]="'client.EMAIL'"></th>
      <th width="80px"></th>
      <th width="80px"></th>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let item of currentTableData" class="tableRowSlowAppearance">
      <td style="vertical-align: middle"><img width="60" [src]="item.image"></td>
      <td style="vertical-align: middle">{{item.firstname}}</td>
      <td style="vertical-align: middle">{{item.lastname}}</td>
      <td style="vertical-align: middle">{{item.email}}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-sm btn-info"
                (click)="onEditClick(item)">
          <i class="fa fa-wrench"></i>
          <span [translate]="'page.EDIT'"></span>
        </button>
      </td>
      <td style="vertical-align: middle">
        <button class="btn btn-sm btn-danger"
                (click)="onDeleteClick(item)">
          <i class="fa fa-remove"></i>
          <span [translate]="'page.DELETE'"></span>
        </button>
      </td>
    </tr>
    </tbody>
    <ul class="pagination" *ngIf="pageCount>1">
      <li *ngFor="let page of pages;let idx = index" [ngClass]="{active:currentPage === idx}">
        <a (click)="onPagingClick(idx)">
          {{idx+1}}
        </a>
      </li>
    </ul>
  </table>

</div>
