<div class="col-md-12" appLoadingMask [loadingMask]="">
  <div class="wrapper-xs">
    <h1 *ngIf="!editMode" [translate]="'client.CLIENT_CREATE'" class="h3 text-info"></h1>
    <h1 *ngIf="editMode" [translate]="'client.CLIENT_EDIT'" class="h3 text-info"></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4 text-muted" [translate]="'client.CLIENT_DATA'"></span>
    </div>
    <div class="panel-body">

      <form name="clientForm" #clientCreateForm="ngForm" class="form-validation">
        <div class="form-group">
          <label [translate]="'client.FIRST_NAME'"></label>
          <span class="text-danger">*</span>
          <input type="text" class="form-control" [(ngModel)]="editClient.firstname" name="editClient.firstname" required>
        </div>
        <div class="form-group">
          <label [translate]="'client.LAST_NAME'"></label>
          <span class="text-danger">*</span>
          <input type="text" class="form-control" [(ngModel)]="editClient.lastname"  name="editClient.lastname" required>
        </div>
        <div class="form-group">
          <label [translate]="'client.EMAIL'"></label>
          <span class="text-danger">*</span>
          <input type="email" class="form-control" [(ngModel)]="editClient.email"  name="editClient.email" required>
        </div>
      </form>

      <button type="submit" class="btn btn-success"
              [disabled]="clientCreateForm.invalid"
              (click)="onSaveClick(modalTemplate)">
        <i class="fa fa-check"></i>
        <span [translate]="'page.SAVE'"></span>
      </button>


    </div>
  </div>
</div>

<!--modal window template-->
<ng-template #modalTemplate>
  <div class="modal-body text-center">
    <div class="successMessage"></div>
  </div>
</ng-template>
